* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.body{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
}

.calculatorFrame{
    width: 400px;
    height: 550px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    border: 1px solid black;
}

.disaplyFrame{
    flex: 1 0 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    border: solid rgba(0.5, 0.5, 0.5, 0.5);

}
.displayFrame p {
    font-size: 20px;
    text-align: end;

    padding: 5px;
    margin: 5px;
}
.buttonFrame {
    flex: 1 80%;
    display: flex;
    flex-wrap: wrap;
}

button:hover {
    opacity: 0.5;
  }
  
  button:active {
    opacity: 1;
  }

.digitButton {
    background-color: whitesmoke;
}

.operatorButton {
    background-color: lightblue;
}

.buttonFrame button{
    flex: 1 25%;
    font-size: 20px;
    border: none;
    outline: none;
}